
@import "tailwindcss";

.smooth-scroll {
    scroll-behavior: smooth;
  }
  @keyframes wave {
    0% {
      transform: translateY(-50%) rotate(0deg);
    }
    10% {
      transform: translateY(-50%) rotate(14deg);
    }
    20% {
      transform: translateY(-50%) rotate(-8deg);
    }
    30% {
      transform: translateY(-50%) rotate(14deg);
    }
    40% {
      transform: translateY(-50%) rotate(-4deg);
    }
    50% {
      transform: translateY(-50%) rotate(10deg);
    }
    60% {
      transform: translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateY(-50%) rotate(0deg);
    }
  }
  
  .animate-wave {
    animation: wave 2s ease-in-out infinite;
    transform-origin: 70% 70%;
  }